---
import Layout from "../layouts/Layout.astro";
---

<script is:inline>
	function closeModal() {
		const infoModalInicial = document.getElementById("infoModalInicial");
		if (infoModalInicial) {
			infoModalInicial.classList.add("hidden");
		} else {
			console.error("Element with ID 'infoModalInicial' not found");
		}
		playGif();
	}
</script>

<Layout title="Spooky Hackaton">
	<main class="lg:overflow-hidden">
		<div class="relative h-screen w-screen">
			<!--Animaciones -->
			<div id="animatorContainer" class="absolute inset-0 z-40">
				<img
					id="ghostAnimation"
					alt="Ghost Animation 1"
					class="w-full h-full object-cover"
				/>
			</div>
			<div id="animatorContainer2" class="absolute inset-0 z-40 hidden">
				<img
					id="ghostAnimation2"
					alt="Ghost Animation 2"
					class="w-full h-full object-cover"
				/>
			</div>
			<div id="ghostAnimation3" class="absolute inset-0 z-50 hidden">
				<img
					alt="Ghost Animation 3"
					src="/animations/transition_ghost.gif"
					class="w-full h-full object-cover"
				/>
			</div>
			<!-- Bottom layer -->
			<div class="absolute inset-0 z-0">
				<div class="moon"></div>
			</div>
			<!-- Second layer -->
			<div
				class="absolute inset-0 z-10 bg-[url('/img/ui/backgrounds/composition_index/3.png')] bg-cover bg-left lg:bg-center bg-no-repeat"
			>
			</div>
			<div
				class="absolute inset-0 z-10 bg-[url('/img/ui/backgrounds/composition_index/3.png')] bg-cover bg-left lg:bg-center bg-no-repeat"
			>
			</div>
			<!-- Third layer -->
			<div class="absolute inset-0 z-20">
				<div id="foglayer_01" class="fog hidden lg:flex">
					<div class="image01"></div>
					<div class="image02"></div>
				</div>
				<div id="foglayer_02" class="fog hidden lg:flex">
					<div class="image01"></div>
					<div class="image02"></div>
				</div>
				<div id="foglayer_03" class="fog hidden lg:flex">
					<div class="image01"></div>
					<div class="image02"></div>
				</div>
			</div>
			<!--Fourth layer -->
			<div
				transition:name="grave"
				class="absolute inset-0 z-30 bg-[url('/img/ui/backgrounds/composition_index/2.png')] bg-cover bg-left lg:bg-center bg-no-repeat"
			>
			</div>
			<!--Fifth layer -->
			<div
				class="absolute inset-0 z-40 bg-[url('/img/ui/backgrounds/composition_index/1.png')] bg-cover bg-left lg:bg-center bg-no-repeat"
			>
			</div>
			<!--Front layer -->
			<div id="titleContent" class="absolute inset-0 z-50">
				<section
					id="title"
					class="flex flex-col items-center justify-center h-screen animate-bouncing animate-iteration-count-infinite animate-duration-1000"
				>
					<h1
						class="fuente-creepster font-extralight text-7xl lg:text-9xl tracking-widest mx-auto text-trickle-purple text-green-glow"
					>
						Spooky Hackaton
					</h1>
					<h2
						class="text-white fuente-urbanist font-extralight text-2xl lg:text-4xl tracking-widest mx-auto lg:pt-8 uppercase"
					>
						- Trick or death -
					</h2>
					<button
						id="startButton"
						onclick="changePage();"
						;
						class="relative px-14 py-5 mt-8 lg:mt-24 text-black rounded-xl hover:animate-horizontal-vibration hover:animate-duration-fast hover:animate-iteration-count-infinite fuente-urbanist text-xl lg:text-2xl font-bold tracking-widest"
					>
						<div
							class="absolute inset-0 bg-[url('/img/ui/grave_texture_3.png')] bg-contain bg-no-repeat rounded-3xl object-green-glow my-auto mx-auto mb-1 lg:mr-2"
						>
						</div>
						<span class="relative graven-text">Empezar </span>
					</button>
				</section>
			</div>
		</div>
	</main>
</Layout>

<div
	id="infoModalInicial"
	class="fixed inset-0 modal flex items-center justify-center animate-fade-in-up animate-duration-1000"
>
	<div class="absolute inset-0"></div>
	<div
		class="relative rounded-lg p-12 max-w-lg w-full m-4 text-white bg-cover bg-center"
		style="background-image: url('/img/ui/grave_texture_2.png');"
	>
		<div class="relative z-10 rounded-lg">
			<h2 class="text-5xl fuente-handwritte font-bold mb-4">
				Aconsejamos
			</h2>
			<h3
				class="text-2xl fuente-handwritte font-bold tracking-widest pt-2"
			>
				Ajustar en el botón de la parte inferior izquierda el modo de
				pantalla completa para difrutar al 100% de la interfaz. También
				se recomienda jugar en un dispositivo con un aspecto de 16:9 y
				una resolución FullHD o superior.
			</h3>
			<h3
				class="text-xl fuente-handwritte font-bold pt-4 tracking-widest"
			>
				Difruta de la experiencia
			</h3>
			<button
				onclick="closeModal(); playGif();"
				class="text-xl animate-duration-slower fuente-handwritte font-bold mt-6 py-2 text-white rounded hover:bg-gray-200 hover:animate-horizontal-vibration hover:animate-duration-fast hover:animate-iteration-count-infinite"
			>
				Cerrar
			</button>
		</div>
	</div>
</div>
<script type="text/javascript">
	const animationSrc_1 = "/animations/castle_ghost.gif";
	const animationSrc_2 = "/animations/castle_ghost_2.gif";
	const gif = document.getElementById("ghostAnimation");
	const gif2 = document.getElementById("ghostAnimation2");
	const animatorContainer = document.getElementById("animatorContainer");
	const animatorContainer2 = document.getElementById("animatorContainer2");

	function changePage() {
		const gif = document.getElementById("ghostAnimation3");
		const title = document.getElementById("titleContent");
		title.classList.add(
			"animate-duration-slower",
			"animate-fade-out-down",
			"transition-all",
			"animate-duration-1000",
			"duration-1000",
		);
		gif.classList.remove("hidden");
		setTimeout(changePageStep2, 2000);
	}

	function changePageStep2() {
		window.location.href = "/personaje";
	}

	function playGif() {
		animatorContainer.classList.remove("hidden");
		animatorContainer2.classList.add("hidden");
		gif.src = animationSrc_1;
		setTimeout(playGif2, 10000);
	}

	function playGif2() {
		animatorContainer.classList.add("hidden");
		animatorContainer2.classList.remove("hidden");
		gif2.src = animationSrc_2;
	}

	document.addEventListener("DOMContentLoaded", function () {
		const img = document.getElementById("ghostAnimation");
		if (img) {
			fetch(img.src)
				.then((response) => response.blob())
				.then((blob) => {
					const url = URL.createObjectURL(blob);
					img.src = url;
					img.addEventListener("load", function () {
						setTimeout(() => {
							const canvas = document.createElement("canvas");
							canvas.width = img.naturalWidth;
							canvas.height = img.naturalHeight;
							canvas.getContext("2d").drawImage(img, 0, 0);
							img.src = canvas.toDataURL();
							URL.revokeObjectURL(url);
						}, 3800); // castle_ghost= 3800 castle_ghost_2= 3350
					});
				});
		}
	});
	document.addEventListener("DOMContentLoaded", function () {
		const img = document.getElementById("ghostAnimation2");
		if (img) {
			fetch(img.src)
				.then((response) => response.blob())
				.then((blob) => {
					const url = URL.createObjectURL(blob);
					img.src = url;
					img.addEventListener("load", function () {
						setTimeout(() => {
							const canvas = document.createElement("canvas");
							canvas.width = img.naturalWidth;
							canvas.height = img.naturalHeight;
							canvas.getContext("2d").drawImage(img, 0, 0);
							img.src = canvas.toDataURL();
							URL.revokeObjectURL(url);
						}, 3350); // castle_ghost= 3800 castle_ghost_2= 3350
					});
				});
		}
	});
</script>

<style>
	.modal {
		z-index: 200;
	}
</style>
