---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Spooky Hackaton">
	<main class="">
		<section
			id="title"
			class="flex flex-col items-center justify-center h-screen animate-bouncing animate-iteration-count-infinite animate-duration-1000"
		>
			<h1
				class="text-white fuente-creepster font-extralight text-9xl tracking-widest mx-auto"
			>
				Spooky Hackaton
			</h1>
			<h2
				class="text-white fuente-urbanist font-extralight text-4xl tracking-widest mx-auto py-8"
			>
				- Design your adventure -
			</h2>
			<div class="flex flex-row items center justify-center gap-x-8 pb-8">
				<img
					class="h-7 w-auto"
					src="/img/corporative/logo_cloudinary.png"
				/>
				<img
					class="h-7 w-auto"
					src="/img/corporative/logo_midudev.png"
				/>
			</div>
			<button
				class="px-16 py-3 bg-white text-black rounded-xl border-black hover:animate-rotational-wave"
				>Empezar</button
			>
		</section>
	</main>
</Layout>
