---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Spooky Hackaton">
	<main>
		<div id="foglayer_01" class="fog">
			<div class="image01"></div>
			<div class="image02"></div>
		</div>
		<div id="foglayer_02" class="fog">
			<div class="image01"></div>
			<div class="image02"></div>
		</div>
		<div id="foglayer_03" class="fog">
			<div class="image01"></div>
			<div class="image02"></div>
		</div>
		<div class="moon"></div>
		<section
			id="title"
			class="flex flex-col items-center justify-center h-screen animate-bouncing animate-iteration-count-infinite animate-duration-1000"
		>
			<h1
				class="fuente-creepster font-extralight text-4xl lg:text-9xl tracking-widest mx-auto text-trickle-purple text-green-glow"
			>
				Spooky Hackaton
			</h1>
			<h2
				class="text-white fuente-urbanist font-extralight text-sm lg:text-4xl tracking-widest mx-auto lg:pt-8"
			>
				- Design your adventure -
			</h2>
			<a
				transition:name="grave"
				id="startButton"
				href="/personaje"
				class="relative px-14 py-5 mt-8 lg:mt-24 text-black rounded-xl hover:animate-horizontal-vibration hover:animate-duration-fast hover:animate-iteration-count-infinite fuente-urbanist lg:text-2xl font-bold tracking-widest"
			>
				<div
					class="absolute inset-0 bg-[url('/img/ui/grave_texture_3.png')] bg-contain bg-no-repeat rounded-3xl object-green-glow my-auto mx-auto mb-1 lg:mr-2"
				>
				</div>
				<span class="relative graven-text">Empezar </span>
			</a>
		</section>
	</main>
</Layout>
