---
import Layout from "../layouts/Layout.astro";

const fecha = "12/02/1994";
---

<Layout title="Spooky Hackaton-Crea tu personaje">
    <main>
        <div id="background">
            <div id="foglayer_01" class="fog">
                <div class="image01"></div>
                <div class="image02"></div>
            </div>
            <div id="foglayer_02" class="fog">
                <div class="image01"></div>
                <div class="image02"></div>
            </div>
            <div id="foglayer_03" class="fog">
                <div class="image01"></div>
                <div class="image02"></div>
            </div>
            <div class="moon"></div>
        </div>
        <div
            class="grid grid-cols-1 lg:grid-cols-2 gap-4 h-screen items-center justify-center z-50"
        >
            <section
                class="flex flex-col items-center justify-center py-8 lg:px-44 animate-fade-in-up animate-duration-1000 z-50"
            >
                <div
                    class="bg-[url('/img/elements/grave.png')] bg-contain bg-no-repeat h-[80vh] w-full"
                >
                    <article class="flex flex-col items-center">
                        <div
                            class="w-32 h-32 lg:h-40 lg:w-40 rounded-full bg-white mt-12 lg:mt-20"
                        >
                        </div>
                        <div
                            class="h-64 w-[45%] flex flex-col items-center lg:pt-4 pb-12 mt-8 lg:mt-12 overflow-hidden"
                        >
                            <h2
                                id="Nombre"
                                class="text-sm lg:text-xl graven-text uppercase truncate w-full text-center"
                            >
                                Carlos López Merino
                            </h2>
                            <p
                                id="FNacimiento"
                                class="graven-text text-xs lg:text-base uppercase truncate w-full text-center pt-3"
                            >
                                {fecha} - 22/10/2024
                            </p>
                            <p
                                class="graven-text text-xs lg:text-base uppercase w-full text-center pt-8"
                            >
                                "FINIS OMNIS VITA MORS EST"
                            </p>
                        </div>
                    </article>
                </div>
            </section>
            <!-- <section
                class="flex flex-col items-center justify-center py-8 lg:px-44 animate-fade-in-up animate-duration-1000 z-50"
            >
                <div
                    class="bg-[url('/img/elements/grave.png')] bg-contain bg-no-repeat h-[80vh] w-full"
                >
                    <article class="flex flex-col items-center">
                        <div class="h-40 w-40 rounded-full bg-white mt-20">
                        </div>
                        <div
                            class="h-64 w-[45%] flex flex-col items-center pt-4 pb-12 mt-12 overflow-hidden"
                        >
                            <h2
                                id="Nombre"
                                class="text-xl graven-text uppercase truncate w-full text-center"
                            >
                                Carlos López Merino
                            </h2>
                            <p
                                id="FNacimiento"
                                class="graven-text uppercase truncate w-full text-center pt-3"
                            >
                                {fecha} - 22/10/2024
                            </p>
                            <p
                                class="graven-text uppercase w-full text-center pt-8"
                            >
                                "FINIS OMNIS VITA MORS EST"
                            </p>
                        </div>
                    </article>
                </div>
            </section> -->
        </div>
    </main>
</Layout>
