---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Spooky Hackaton-Crea tu personaje">
    <main class="overflow-hidden">
        <div class="relative h-screen w-screen">
            <!-- Bottom layer -->
            <div class="absolute inset-0 z-0">
                <div class="moon"></div>
            </div>
            <!-- Second layer -->
            <div
                class="absolute inset-0 z-10 bg-[url('/img/ui/backgrounds/composition/3.png')] bg-fill bg-no-repeat"
            >
            </div>
            <!-- Third layer -->
            <div class="absolute inset-0 z-20">
                <div id="foglayer_01" class="fog hidden lg:flex">
                    <div class="image01"></div>
                    <div class="image02"></div>
                </div>
                <div id="foglayer_02" class="fog hidden lg:flex">
                    <div class="image01"></div>
                    <div class="image02"></div>
                </div>
                <div id="foglayer_03" class="fog hidden lg:flex">
                    <div class="image01"></div>
                    <div class="image02"></div>
                </div>
            </div>
            <!--Fourth layer -->
            <div
                transition:name="grave"
                class="absolute inset-0 z-30 bg-[url('/img/ui/backgrounds/composition/2.png')] bg-fill bg-no-repeat"
            >
            </div>
            <!--Fourth layer -->
            <div
                class="absolute inset-0 z-40 bg-[url('/img/ui/backgrounds/composition/1.png')] bg-fill bg-no-repeat"
            >
            </div>
            <!--Front layer -->
            <div class="absolute inset-0 z-50"></div>
        </div>
    </main>
    <script is:inline>
        function updateLabels() {
            const inputName = document.getElementById("inputName");
            const inputFnacimiento =
                document.getElementById("inputFnacimiento");
            const inputPalabras = document.getElementById("inputPalabras");
            const nombreDisplay = document.getElementById("labelNombre");
            const labelFNacimiento =
                document.getElementById("labelFNacimiento");
            const labelPalabras = document.getElementById("labelPalabras");

            if (inputName) {
                inputName.addEventListener("input", function () {
                    nombreDisplay.textContent =
                        this.value || "Nombre del difunto";
                });
            }

            if (inputFnacimiento) {
                inputFnacimiento.addEventListener("input", function () {
                    labelFNacimiento.textContent = this.value || "2024-10-22";
                });
            }

            if (inputPalabras) {
                inputPalabras.addEventListener("input", function () {
                    labelPalabras.textContent = this.value
                        ? `"${this.value}"`
                        : "FINIS OMNIS VITA MORS EST";
                });
            }
        }

        updateLabels();
        setTimeout(updateLabels, 100);
        document.addEventListener("DOMContentLoaded", updateLabels);
    </script>
</Layout>
