<script is:inline>
    let kioskMode = false;
    function enterKioskMode() {
        kioskMode = true;
        // Request fullscreen
        if (document.documentElement.requestFullscreen) {
            document.documentElement.requestFullscreen();
        } else if (document.documentElement.mozRequestFullScreen) {
            // Firefox
            document.documentElement.mozRequestFullScreen();
        } else if (document.documentElement.webkitRequestFullscreen) {
            // Chrome, Safari and Opera
            document.documentElement.webkitRequestFullscreen();
        } else if (document.documentElement.msRequestFullscreen) {
            // IE/Edge
            document.documentElement.msRequestFullscreen();
        }

        // Optionally, you might want to hide all scrollbars
        document.body.style.overflow = "hidden";

        console.log("Entered kiosk-like mode");
    }

    // Function to exit kiosk mode
    function exitKioskMode() {
        kioskMode = false;
        if (document.exitFullscreen) {
            document.exitFullscreen();
        } else if (document.mozCancelFullScreen) {
            document.mozCancelFullScreen();
        } else if (document.webkitExitFullscreen) {
            document.webkitExitFullscreen();
        } else if (document.msExitFullscreen) {
            document.msExitFullscreen();
        }

        // Restore cursor
        document.body.style.cursor = "auto";

        // Re-enable text selection
        document.body.style.userSelect = "auto";
        document.body.style.webkitUserSelect = "auto";
        document.body.style.msUserSelect = "auto";
        document.body.style.mozUserSelect = "auto";

        // Restore scrollbars
        document.body.style.overflow = "auto";

        console.log("Exited kiosk-like mode");
    }

    // Listen for fullscreen change
    document.addEventListener("astro:page-load", () => {
        const historyModeButton = document.getElementById("historyModeButton");
        const infoButton = document.getElementById("infoButton");
        const infoModal = document.getElementById("infoModal");
        const closeModal = document.getElementById("closeModal");
        if (historyModeButton) {
            historyModeButton.addEventListener("click", (e) => {
                e.preventDefault();
                if (kioskMode === false) {
                    enterKioskMode();
                } else {
                    exitKioskMode();
                }
            });
        }
        function toggleModal() {
            infoModal.classList.toggle("hidden");
        }

        if (infoButton && infoModal && closeModal) {
            infoButton.addEventListener("click", (e) => {
                e.preventDefault();
                toggleModal();
            });

            closeModal.addEventListener("click", toggleModal);

            // Close modal when clicking outside
            infoModal.addEventListener("click", (e) => {
                if (e.target === infoModal) {
                    toggleModal();
                }
            });

            // Close modal on escape key press
            document.addEventListener("keydown", (e) => {
                if (
                    e.key === "Escape" &&
                    !infoModal.classList.contains("hidden")
                ) {
                    toggleModal();
                }
            });
        }
    });
</script>

<div
    class="adminActions hidden lg:flex opacity-50 hover:scale-105 hover:opacity-100 transition-all duration-200"
>
    <input type="checkbox" name="adminToggle" class="adminToggle" />
    <a class="adminButton" href="#!"><img src="/img/icons/cog.svg" /></a>
    <div class="adminButtons">
        <a id="infoButton" title="Información" class="cursor-pointer">
            <img src="/img/icons/info.svg" />
        </a>
        <a
            id="groupButton"
            href="/test"
            target="_blank"
            title="Nosotros"
            class="cursor-pointer"
        >
            <img src="/img/icons/group.svg" />
        </a>
        <a id="historyModeButton" title="Modo historia" class="cursor-pointer">
            <img src="/img/icons/fullWindow.svg" />
        </a>
    </div>
</div>
<div
    id="infoModal"
    class="fixed inset-0 modal flex items-center justify-center hidden"
>
    <div class="absolute inset-0"></div>
    <div
        class="relative rounded-lg p-12 max-w-lg w-full m-4 text-white bg-cover bg-center"
        style="background-image: url('/img/ui/grave_texture_2.png');"
    >
        <div class="relative z-10 p-2 rounded-lg">
            <h2 class="text-5xl fuente-handwritte font-bold mb-4">
                Aconsejamos
            </h2>
            <h3
                class="text-2xl fuente-handwritte font-bold tracking-widest pt-2"
            >
                Ajustar en el botón de la parte inferior izquierda el modo de
                pantalla completa para difrutar al 100% de la interfaz. También
                se recomienda jugar en un dispositivo con un aspecto de 16:9 y
                una resolución FullHD o superior.
            </h3>
            <h3
                class="text-xl fuente-handwritte font-bold pt-4 tracking-widest"
            >
                Difruta de la experiencia
            </h3>
            <button
                id="closeModal"
                class="text-xl fuente-handwritte font-bold pt-4 tracking-widest hover:animate-horizontal-vibration hover:animate-duration-fast hover:animate-iteration-count-infinite"
                >Cerrar</button
            >
        </div>
    </div>
</div>
<style>
    .modal {
        z-index: 200;
    }
    .adminActions {
        position: fixed;
        bottom: 35px;
        left: 35px;
        z-index: 100;
    }

    .adminButton {
        height: 60px;
        width: 60px;
        background-color: #3d224b;
        border-radius: 50%;
        display: block;
        color: #fff;
        text-align: center;
        position: relative;
        z-index: 1;
    }

    .adminButton i {
        font-size: 22px;
    }

    .adminButtons {
        position: absolute;
        width: 100%;
        bottom: 120%;
        text-align: center;
    }

    .adminButtons a {
        display: block;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        text-decoration: none;
        margin: 10px auto 0;
        line-height: 1.15;
        color: #fff;
        opacity: 0;
        visibility: hidden;
        position: relative;
        box-shadow: 0 0 5px 1px rgba(51, 51, 51, 0.3);
    }

    .adminButtons a:hover {
        transform: scale(1.05);
    }

    .adminButtons a:nth-child(1) {
        background-color: rgba(173, 239, 19, 0.5);
        transition:
            opacity 0.2s ease-in-out 0.3s,
            transform 0.15s ease-in-out;
    }
    .adminButtons a:nth-child(2) {
        background-color: rgba(173, 239, 19, 0.5);
        transition:
            opacity 0.2s ease-in-out 0.3s,
            transform 0.15s ease-in-out;
    }
    .adminButtons a:nth-child(3) {
        background-color: rgba(173, 239, 19, 0.5);
        transition:
            opacity 0.2s ease-in-out 0.3s,
            transform 0.15s ease-in-out;
    }
    .adminButtons a:nth-child(4) {
        background-color: rgba(173, 239, 19, 0.5);
        transition:
            opacity 0.2s ease-in-out 0.3s,
            transform 0.15s ease-in-out;
    }

    .adminActions a img {
        height: 25px;
        width: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .adminToggle {
        -webkit-appearance: none;
        position: absolute;
        border-radius: 50%;
        top: 0;
        left: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        background-color: transparent;
        border: none;
        outline: none;
        z-index: 2;
        transition: box-shadow 0.2s ease-in-out;
        box-shadow: 0 3px 5px 1px rgba(51, 51, 51, 0.3);
    }

    .adminToggle:hover {
        box-shadow: 0 3px 6px 2px rgba(51, 51, 51, 0.3);
    }

    .adminToggle:checked ~ .adminButtons a {
        opacity: 1;
        visibility: visible;
    }
</style>
