---
import { getCldImageUrl } from "astro-cloudinary/helpers";

interface Props {
    prompt: string;
    Url: string;
}
const { prompt, Url } = Astro.props;
---

<div
    class="w-[20vw] max-w-[300px] aspect-square rounded-full border-2 border-black shadow-[0_0_10px_rgba(255,255,255,0.5)] overflow-hidden mx-auto"
>
    <img
        id="containerRecuerdo"
        src={getCldImageUrl({
            src: Url,
            replaceBackground: prompt,
            aspectRatio: "1:1",
            crop: "fill",
            gravity: "face",
        })}
        alt="Imagen del fallecido"
        class="w-full h-full object-cover"
    />
</div>
