---
import "@fontsource/caveat-brush";
import "@fontsource/permanent-marker";
import "@fontsource/creepster";
import "@fontsource-variable/urbanist";
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
	}
	.fuente-caveat {
		font-family: "Caveat Brush", cursive;
	}
	.fuente-permanent {
		font-family: "Permanent Marker", cursive;
	}
	.fuente-creepster {
		font-family: "Creepster", system-ui;
	}
	.fuente-urbanist {
		font-family: "Urbanist Variable", sans-serif;
	}
</style>
