---
import { ViewTransitions } from "astro:transitions";
import FloatingButton from "../components/floatingButton.astro";

import "@fontsource/caveat-brush";
import "@fontsource/permanent-marker";
import "@fontsource/creepster";
import "@fontsource-variable/urbanist";
import "@fontsource-variable/dancing-script";
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Spooky proyect for Cloudinary Hackaton by CLStudio"
		/>
		<meta
			property="og:url"
			content="https://spooky-hackaton-cloudinary.vercel.app/"
		/>
		<meta property="og:type" content="website" />
		<meta property="og:title" content="Spooky Hackaton" />
		<meta
			property="og:description"
			content="Spooky proyect for Cloudinary Hackaton by CLStudio"
		/>
		<meta
			property="og:image"
			content="https://opengraph.b-cdn.net/production/images/2d811027-22e8-4311-86c0-4cf0feab4197.png?token=tfi0xFSBK1BL0bxKroZuA7wX741r57_Vy9CAUF7uXvw&height=500&width=500&expires=33265473807"
		/>
		<meta name="twitter:card" content="summary_large_image" />
		<meta
			property="twitter:domain"
			content="spooky-hackaton-cloudinary.vercel.app"
		/>
		<meta
			property="twitter:url"
			content="https://spooky-hackaton-cloudinary.vercel.app/"
		/>
		<meta name="twitter:title" content="Spooky Hackaton" />
		<meta
			name="twitter:description"
			content="Spooky proyect for Cloudinary Hackaton by CLStudio"
		/>
		<meta
			name="twitter:image"
			content="https://opengraph.b-cdn.net/production/images/2d811027-22e8-4311-86c0-4cf0feab4197.png?token=tfi0xFSBK1BL0bxKroZuA7wX741r57_Vy9CAUF7uXvw&height=500&width=500&expires=33265473807"
		/>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<FloatingButton />
		<slot />
	</body>
</html>
<style is:global>
	html {
		font-family: system-ui, sans-serif;
		background: #111111;
		overflow-x: hidden;
	}
	.fuente-caveat {
		font-family: "Caveat Brush", cursive;
	}
	.fuente-permanent {
		font-family: "Permanent Marker", cursive;
	}
	.fuente-creepster {
		font-family: "Creepster", system-ui;
	}
	.fuente-urbanist {
		font-family: "Urbanist Variable", sans-serif;
	}
	.fuente-handwritte {
		font-family: "Dancing Script Variable", cursive;
	}
	.text-green-glow {
		text-shadow:
			0 0 10px #adef13,
			0 0 20px #adef13,
			0 0 30px #adef13,
			0 0 40px #adef13;
		padding: 20px;
		animation: text-pulsate 2s ease-in-out infinite;
	}
	.object-green-glow {
		box-shadow:
			0 0 5px #adef13,
			0 0 10px #adef13,
			0 0 15px #adef13,
			0 0 20px #adef13;
		animation: object-pulsate 2s ease-in-out infinite;
	}

	@keyframes text-pulsate {
		0% {
			text-shadow:
				0 0 4px #adef13,
				0 0 11px #adef13,
				0 0 19px #adef13,
				0 0 40px #adef13;
		}

		50% {
			text-shadow:
				0 0 8px #adef13,
				0 0 22px #adef13,
				0 0 38px #adef13,
				0 0 80px #adef13;
		}

		100% {
			text-shadow:
				0 0 4px #adef13,
				0 0 11px #adef13,
				0 0 19px #adef13,
				0 0 40px #adef13;
		}
	}
	@keyframes object-pulsate {
		0% {
			box-shadow:
				0 0 2px #adef13,
				0 0 6px #adef13,
				0 0 9px #adef13,
				0 0 20px #adef13;
		}

		50% {
			box-shadow:
				0 0 4px #adef13,
				0 0 11px #adef13,
				0 0 19px #adef13,
				0 0 40px #adef13;
		}

		100% {
			box-shadow:
				0 0 2px #adef13,
				0 0 6px #adef13,
				0 0 9px #adef13,
				0 0 20px #adef13;
		}
	}
	.graven-text {
		text-shadow:
			1px 1px 1px rgba(240, 240, 240, 0.75),
			-1px -1px 1px rgba(0, 0, 0, 0.75);
		font-weight: bold;
	}

	.moon {
		position: absolute;
		width: 35vmin;
		height: 35vmin;
		right: 15vmin;
		top: 20vmin;
		opacity: 1;
		border-radius: 100%;
		animation: start-moon 3s ease 0s 1;
		background: radial-gradient(
				circle at 50% 50%,
				#e7c89fc5 0% 7vmin,
				#f3e9b6 80% 7vmin,
				#ffffff00 7.25vmin 100%
			),
			#fff;
		box-shadow:
			0 0 8em 4em #f3e9b6,
			0 0 8em -16em #f1c75d inset,
			0 0 20px 5px #f1c75d;
	}

	.moon:before {
		content: "";
		background: radial-gradient(
			circle at 100% 60%,
			#ffffff00 0% 60%,
			#f3e9b6 75% 100%
		);
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0%;
		left: 0%;
		border-radius: 100%;
	}

	.moon:after {
		content: "";
		background: radial-gradient(
			circle at 0% 40%,
			#f0c5573f 0% 60%,
			#f3e9b6 75% 100%
		);
		width: 4.5vmin;
		height: 4.5vmin;
		position: absolute;
		top: 20%;
		left: 20%;
		border-radius: 100%;
		filter: blur(2px);
	}
	/* ---------- Fog ---------- */
	.fogwrapper {
		height: 100%;
		position: absolute;
		top: 0;
		width: 100%;
		-webkit-filter: blur(1px) grayscale(0.2) saturate(1.2) sepia(0.2);
		filter: blur(1px) grayscale(0.2) saturate(1.2) sepia(0.2);
	}
	#foglayer_01,
	#foglayer_02,
	#foglayer_03 {
		height: 100%;
		position: absolute;
		width: 200%;
	}
	#foglayer_01 .image01,
	#foglayer_01 .image02,
	#foglayer_02 .image01,
	#foglayer_02 .image02,
	#foglayer_03 .image01,
	#foglayer_03 .image02 {
		float: left;
		height: 100%;
		width: 50%;
	}
	#foglayer_01 {
		-webkit-animation:
			foglayer_01_opacity 10s linear infinite,
			foglayer_moveme 15s linear infinite;
		-moz-animation:
			foglayer_01_opacity 10s linear infinite,
			foglayer_moveme 15s linear infinite;
		animation:
			foglayer_01_opacity 10s linear infinite,
			foglayer_moveme 15s linear infinite;
	}
	#foglayer_02,
	#foglayer_03 {
		-webkit-animation:
			foglayer_02_opacity 21s linear infinite,
			foglayer_moveme 13s linear infinite;
		-moz-animation:
			foglayer_02_opacity 21s linear infinite,
			foglayer_moveme 13s linear infinite;
		animation:
			foglayer_02_opacity 21s linear infinite,
			foglayer_moveme 13s linear infinite;
	}

	/* ---------- Moving Fog ---------- */
	/*
  'size: cover' || 'size: 100%'; results remain the same
  'attachment: scroll' can be added or removed; results remain the same
  'attachment: fixed' causing unexpected results in Chrome
  'repeat-x' || 'no-repeat'; results remain the same
*/
	#foglayer_01 .image01,
	#foglayer_01 .image02 {
		background: url("https://raw.githubusercontent.com/danielstuart14/CSS_FOG_ANIMATION/master/fog1.png")
			center center/cover no-repeat transparent;
	}
	#foglayer_02 .image01,
	#foglayer_02 .image02,
	#foglayer_03 .image01,
	#foglayer_03 .image02 {
		background: url("https://raw.githubusercontent.com/danielstuart14/CSS_FOG_ANIMATION/master/fog2.png")
			center center/cover no-repeat transparent;
	}

	/* ---------- Keyframe Layer 1 ---------- */
	@-webkit-keyframes foglayer_01_opacity {
		0% {
			opacity: 0.1;
		}
		22% {
			opacity: 0.5;
		}
		40% {
			opacity: 0.28;
		}
		58% {
			opacity: 0.4;
		}
		80% {
			opacity: 0.16;
		}
		100% {
			opacity: 0.1;
		}
	}
	@-moz-keyframes foglayer_01_opacity {
		0% {
			opacity: 0.1;
		}
		22% {
			opacity: 0.5;
		}
		40% {
			opacity: 0.28;
		}
		58% {
			opacity: 0.4;
		}
		80% {
			opacity: 0.16;
		}
		100% {
			opacity: 0.1;
		}
	}
	@-o-keyframes foglayer_01_opacity {
		0% {
			opacity: 0.1;
		}
		22% {
			opacity: 0.5;
		}
		40% {
			opacity: 0.28;
		}
		58% {
			opacity: 0.4;
		}
		80% {
			opacity: 0.16;
		}
		100% {
			opacity: 0.1;
		}
	}
	@keyframes foglayer_01_opacity {
		0% {
			opacity: 0.1;
		}
		22% {
			opacity: 0.5;
		}
		40% {
			opacity: 0.28;
		}
		58% {
			opacity: 0.4;
		}
		80% {
			opacity: 0.16;
		}
		100% {
			opacity: 0.1;
		}
	}
	/* ---------- Keyframe Layer 2 ---------- */
	@-webkit-keyframes foglayer_02_opacity {
		0% {
			opacity: 0.5;
		}
		25% {
			opacity: 0.2;
		}
		50% {
			opacity: 0.1;
		}
		80% {
			opacity: 0.3;
		}
		100% {
			opacity: 0.5;
		}
	}
	@-moz-keyframes foglayer_02_opacity {
		0% {
			opacity: 0.5;
		}
		25% {
			opacity: 0.2;
		}
		50% {
			opacity: 0.1;
		}
		80% {
			opacity: 0.3;
		}
		100% {
			opacity: 0.5;
		}
	}
	@-o-keyframes foglayer_02_opacity {
		0% {
			opacity: 0.5;
		}
		25% {
			opacity: 0.2;
		}
		50% {
			opacity: 0.1;
		}
		80% {
			opacity: 0.3;
		}
		100% {
			opacity: 0.5;
		}
	}
	@keyframes foglayer_02_opacity {
		0% {
			opacity: 0.5;
		}
		25% {
			opacity: 0.2;
		}
		50% {
			opacity: 0.1;
		}
		80% {
			opacity: 0.3;
		}
		100% {
			opacity: 0.5;
		}
	}
	/* ---------- Keyframe Layer 3 ---------- */
	@-webkit-keyframes foglayer_03_opacity {
		0% {
			opacity: 0.8;
		}
		27% {
			opacity: 0.2;
		}
		52% {
			opacity: 0.6;
		}
		68% {
			opacity: 0.3;
		}
		100% {
			opacity: 0.8;
		}
	}
	@-moz-keyframes foglayer_03_opacity {
		0% {
			opacity: 0.8;
		}
		27% {
			opacity: 0.2;
		}
		52% {
			opacity: 0.6;
		}
		68% {
			opacity: 0.3;
		}
		100% {
			opacity: 0.8;
		}
	}
	@-o-keyframes foglayer_03_opacity {
		0% {
			opacity: 0.8;
		}
		27% {
			opacity: 0.2;
		}
		52% {
			opacity: 0.6;
		}
		68% {
			opacity: 0.3;
		}
		100% {
			opacity: 0.8;
		}
	}
	@keyframes foglayer_03_opacity {
		0% {
			opacity: 0.8;
		}
		27% {
			opacity: 0.2;
		}
		52% {
			opacity: 0.6;
		}
		68% {
			opacity: 0.3;
		}
		100% {
			opacity: 0.8;
		}
	}
	/* ---------- Keyframe moveMe ---------- */
	@-webkit-keyframes foglayer_moveme {
		0% {
			left: 0;
		}
		100% {
			left: -100%;
		}
	}
	@-moz-keyframes foglayer_moveme {
		0% {
			left: 0;
		}
		100% {
			left: -100%;
		}
	}
	@-o-keyframes foglayer_moveme {
		0% {
			left: 0;
		}
		100% {
			left: -100%;
		}
	}
	@keyframes foglayer_moveme {
		0% {
			left: 0;
		}
		100% {
			left: -100%;
		}
	}

	@media only screen and (min-width: 280px) and (max-width: 767px) {
		#foglayer_01 .image01,
		#foglayer_01 .image02,
		#foglayer_02 .image01,
		#foglayer_02 .image02,
		#foglayer_03 .image01,
		#foglayer_03 .image02 {
			width: 100%;
		}
	}
</style>
